
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <h1>Flashcard</h1>
            <ul>
                <li><a href=""><img src="static/img/logo.svg" alt="Company Logo"></a></li>
                <li><img src="static/img/user-circle-svgrepo-com.svg" alt="User profile"></li>
            </ul>
        </nav>
    </header>
    <main>

    <section>
        <head>
            {% block header %}{% endblock %}
    
        </head>
    
    {%block content%}{% endblock%}
    </section>
    
    </main>
    <footer></footer>
</body>
</html>