{%extends 'base.html'%}

<h1> {%block title%} Homepage {%endblock%} </h1>

{%block content%} 

    <h2>Total score</h2>
    <div id="total_score_box">


    </div>

    <br>
    <br>

    <div id="feedback_box">
        <h2>Feedback</h2>

        <p>Here are the questions you missed:</p>
        <br>
        <br>
    </div>
        
    <div id="eot_links">
        <a href="/test"><button type="button">Restart</button></a>
        <a href="/"><button type="button">Exit</button></a>
    </div>
{%endblock%}

